name: NetDevPack - MASTER PR

on:
  pull_request:
    branches: [ master ]

jobs:
  pull-request:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: src
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET 6
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Setup .NET 7
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x

      - name: Setup .NET Core 2.1
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 2.1.x
          
      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        run: dotnet test --no-build